<ion-header>
  <ion-navbar hideBackButton>
      
    <ion-title style="text-align: center">
        <ion-icon name="menu" color="dark" (click)="openMenu()" style="vertical-align: middle; line-height: 55px; font-size: 25px;float: left; padding-left: 5px"></ion-icon>
  <h3>Top Headlines</h3>
    </ion-title>
    
  </ion-navbar>
</ion-header>
<!-- Articles will be shown only if newsData is loaded from the API.-->
<ion-content *ngIf="newsData" padding>
  <ion-list style="margin-top:50px">
    <ion-list-header style="display:none"></ion-list-header>
<!-- This ion-select is used to choose the country and it is binded with country variable. Countries name are loaded by ngFor directive from countryList variable.   -->
      <ion-item>
      <ion-label>Country</ion-label>
      <ion-select placeholder="Select country" [(ngModel)]="country" (ionChange)="onChange()">
        <ion-option *ngFor="let ctr of countryList" value="{{ctr.val}}">{{ctr.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- This ion-select is used to choose the category and it is binded with category variable. Categories name are loaded by ngFor directive from categoryList variable.   -->
    <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Select category" [(ngModel)]="category" (ionChange)="onChange()">
          <ion-option *ngFor="let ctg of categoryList"  value="{{ctg.val}}">{{ctg.name}}</ion-option>
        </ion-select>
    </ion-item>

    </ion-list>

    <!-- 
      Articles and its details are viewed in ion-card component. 
      newsData has all the articles loaded through the API and it is loaded in the ion-card through the ngFor directive.

      One ion-card contains the following:
      1. Article image 
      2. Article title
      3. Article date and time
      4. Article description
      5. Link to the original source
    
    -->
    <ion-card *ngFor="let item of newsData?.articles">
     
      <img [src]="item.urlToImage" *ngIf="item.urlToImage">
        
        <ion-card-content ion-margin>
          
          <ion-card-title><b>{{item.title}}</b></ion-card-title>
          
          <p style="font-size:11px; margin-top:7px">{{adjustDateTime(item.publishedAt)}}</p>

          <p>{{item.description}}</p>

          <p style="margin-top:7px"><a class="websiteLink" [href]="item.url"><ion-icon name="globe" style="margin-right: 5px"></ion-icon>View more details at {{item.source.name}}</a></p>

        </ion-card-content>
      </ion-card>

</ion-content>
