<ion-header>
  <ion-navbar hideBackButton>
      <ion-icon name="menu" color="dark" (click)="openMenu()" style="vertical-align: middle; line-height: 55px; font-size: 25px;float: left; padding-left: 15px"></ion-icon>
    <ion-title style="text-align: center">
  <h3>Top Headlines!</h3>
    </ion-title>
    <!--<ion-label (click)="goToSearch()">search</ion-label>-->
  </ion-navbar>
</ion-header>

<ion-content *ngIf="newsData"  padding style="margin-top:50px">
  <ion-list style="border-top:none">
    <!--<ion-list-header></ion-list-header>-->
      <ion-item>
      <ion-label>Country</ion-label>
      <ion-select placeholder="Select country" [(ngModel)]="country" (ionChange)="onChange()">
        <ion-option *ngFor="let ctr of countryList" value="{{ctr.val}}">{{ctr.name}}</ion-option>
    
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Select category" [(ngModel)]="category" (ionChange)="onChange()">
          <ion-option *ngFor="let ctg of categoryList"  value="{{ctg.val}}">{{ctg.name}}</ion-option>
        </ion-select>
    </ion-item>
     <!--<ion-item style="text-align: center">
     <ion-badge color="danger">
        <p>{{newsData.totalResults}}</p>
      </ion-badge>
    </ion-item>-->
    </ion-list>

    <ion-card *ngFor="let item of newsData?.articles">
     
      <img [src]="item.urlToImage">
     
        <!--<ion-item>
         <ion-icon color="secondary" name="share" slot="start"></ion-icon>
          
          
        </ion-item>-->
      
        <ion-card-content ion-margin>
                
  
          <ion-card-title color="success"><b>{{item.title}}</b></ion-card-title>
          <p>{{item.description}}</p>
          <h6><i>{{adjustDateTime(item.publishedAt)}}</i></h6>
          <p><a [href]="item.url" color="danger">View more details at {{item.source.name}}</a></p>
        </ion-card-content>
      </ion-card>

</ion-content>
