<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
      <ion-icon name="menu" color="dark" (click)="openMenu()" style="vertical-align: middle; line-height: 55px; font-size: 25px;float: left; padding-left: 15px"></ion-icon>
    <ion-title style="text-align: center">
      <h3>Search</h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
 <ion-list>
    <!--<ion-list-header></ion-list-header>-->
    <ion-searchbar show-cancel-button="true" cancelButtonText="Custom Cancel" placeholder="search..." animated="true" (ionChange)="doSearch()" [(ngModel)]="searchValue" ></ion-searchbar>
      <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select country" [(ngModel)]="language" (ionChange)="doSearch()">
        <ion-option *ngFor="let lng of languageList" value="{{lng.val}}">{{lng.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sort by</ion-label>
        <ion-select placeholder="Sort by" [(ngModel)]="sortBy" (ionChange)="doSearch()">
          <ion-option *ngFor="let srt of sortByList" value="{{srt.val}}">{{srt.name}}</ion-option>
        </ion-select>
        </ion-item>
  </ion-list>
  <ion-card *ngFor="let item of newsData?.articles">
     
    <img [src]="item.urlToImage" *ngIf="item.urlToImage" >
   
     <!-- <ion-item>
       <ion-icon color="secondary" name="share" slot="start"></ion-icon>        
        
      </ion-item>-->
    
      <ion-card-content ion-margin >
 
        <ion-card-title color="success"><b>{{item.title}}</b></ion-card-title>
        <p>{{item.description}}</p>
        
        <h6 class="dateTime"><i>{{adjustDateTime(item.publishedAt)}}</i></h6>
        <br>
        <p><a class="websiteLink" [href]="item.url" color="danger"><ion-icon name="globe"></ion-icon>View more details at {{item.source.name}}</a></p>
        <ion-chip outline="true">
            <ion-icon name="globe"></ion-icon>
          <ion-label>View more details at {{item.source.name}}</ion-label>
          
        </ion-chip>
      </ion-card-content>
    </ion-card>
</ion-content>
